body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg.jpg);
	background-size: 100% auto;
	filter: blur(2px);
	z-index: -10;
}

#container a.btn-clip{
	position: absolute;
	-webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
	bottom: 0;
	right: 0;
	width: 84px;
	height: 59px;
	background-color: #F0F0F0;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,.1), rgba(0,0,0,.6), rgba(0,0,0,.5), rgba(0,0,0,.5), #F0F0F0, #F0F0F0, #F0F0F0);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.8);
}

#container a button{
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
}

#container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	/*padding: 0 72px;*/
	padding: 0 2%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: rgba(0,0,0,0.6);*/
}

#box{
	width: 870px;
	height: 450px;
	background-color: white;
	border: 2px solid rgba(0,0,0,.3);
	border-radius: 3px;
	box-shadow: 0 10px 30px rgba(0,0,0,
		.6);
	/*padding: 0 12px;*/
	padding: 0;
	box-sizing: border-box;
	overflow-y: scroll;
}

.item{
	height: 34px;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,.1);
}



div.title{
	position: sticky;
	top: 0;
	height: 43px;
	background-color: white;
}

h5{
	font-family: 'Roboto', sans-serif;
	margin: 0 10px;
	font-size: 13pt;
	line-height: 43px;
}

.columns-guide{
	max-height: 0;
	height: 12px;
	background-color: rgba(0,0,0,.2);
	display: flex;
	font-size: 8pt;
	text-transform: full-width;
	overflow: hidden;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.columns-guide .status{
	display: block;
}

.columns-guide .diretoria{
	text-transform: full-width;
}

.status{
	width: 42px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.status span{
	width: 12px;
	height: 12px;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 100%;
}

.status .on{
	background-color: #6BEF6B;
}

.status .off{
	background-color: #EF6B6B;
}

.name{
	flex-grow: 1;
}

.name p, .diretoria p{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	line-height: 34px;
	font-weight: 600;
}

.diretoria{
	width: 54px;
	text-transform: uppercase;
}

hr{
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	margin: 0;
	/*display: none;*/
}